*{
    padding: 0;
    margin: 0;
}

body{
    background: url("https://i.pinimg.com/564x/be/af/7c/beaf7cd0b2670268c6844e9c37989b37.jpg") no-repeat center fixed;
    background-size: cover;
}
#game{
    width: 800px;
    height: 600px;
    border: none;
    box-shadow: 10px 10px 110px rgb(66, 156, 201);
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    top: 78px;
    background-image: url("https://i.pinimg.com/564x/2c/45/14/2c451477c3da34cd3817c4b4ddef6e9e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;

}

#block1{
    width: 50px;
    height: 500px;
    background-color: black;
    border-radius: 8px;
    position: relative;
    animation: block 2s infinite linear;
}

#block2{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    border-radius: 8px;
    animation: block 2s infinite linear;
}

@keyframes block{
    0%{left: 800px}
    100%{left: -50px}
}

#hole{
    width: 50px;
    height: 150px;
    overflow: hidden;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
}



#character{
    width: 53px;
    height: 53px;
    position: absolute;
    top: 100px;
    left: 50px;
    

}

#obstaculo {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 800px;
    animation: block 2s infinite linear;
}
